# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp

# logs / tmp
*.log
tmp/

# deps (когда появятся)
node_modules/
__pycache__/
*.pyc
.env
.env.*

# backend data (когда появится)
/server/pb_data/
/server/*.db
